.logo-container {
    padding: 0px;
}

.logo-gauche span {
    font-size: 2.2em;
    color: var(--couleur-primaire);
    transition: ease-out .5s;
}

.vel {
    font-size: 5.5rem;
    color: var(--couleur-primaire);
    transition: ease-out .5s;
}

/* ------------------- PARTIE DROITE ------------------- */

.content-container-div {
    width: 100%;
    padding: 40px 80px;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    color: var(--couleur-primaire);
    border: 2px solid #fffae776;
    border-radius: 15px;
    padding-right: 15px;
}

#search {
    font-family: 'PP Formula', sans-serif;
    border: none;
    outline: none;
    padding: 15px 20px;
    background-color: transparent;
    color: var(--couleur-primaire);
    width: 350px;
}

#search::placeholder {
    font-size: 12px;
    color: var(--couleur-primaire);
}


/* ------------------- TABLEAU ------------------- */

.main-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.titre-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titre-content span:nth-child(1) {
    font-size: 2em;
    color: var(--couleur-primaire);
}

.titre-content span:nth-child(2) {
    font-size: 1em;
    font-weight: 200;
    color: var(--couleur-secondaire);
}

table {
    border-collapse: collapse;
}

th {
    display: flex;
    width: 100%;
    color: var(--couleur-primaire);
    font-size: .8em;
    font-weight: 200;
    text-align: left;
    border-top: 1px solid #fffae776;
    border-bottom: 1px solid #fffae776;
    padding: 10px 0;
}

tr {
    display: flex;
}

td {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 15px 5px;
    border-bottom: 1px solid #fffae72c
}

tbody {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 350px);
    overflow-y: auto;
}

tbody::-webkit-scrollbar {
    display: none;
}

.nom {
    flex-basis: 130%;
    color: var(--couleur-primaire);
    font-weight: 600;
    font-size: 13px;
}

.nom-head {
    flex-basis: 130%;
    color: var(--couleur-primaire);
    font-size: 13px;
}

.unblock {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 15px;
    background-color: #006630;
    border-radius: 20px;
    width: 110px;
    font-weight: 600;
    color: #AFE7C9;
    font-size: 13px;
}

.block {
    background-color: #AF1F24;
    color: #FFCCCE;
}

.vip {
    display: flex;
    gap: 10px;
    align-items: baseline;
    width: 50px;
    padding: 10px 14px;
    font-weight: 600;
    color: var(--couleur-tertiaire);
    background-color: var(--couleur-secondaire);
    border-radius: 20px;
    font-size: 13px;
}

.novip {
    background-color: #444444;
    color: #fffae7;
}

.date {
    font-size: 13px;
    font-weight: 200;
    color: var(--couleur-primaire);
    justify-content: flex-end
}

.unblock, .block, .vip, .novip {
    transition: all .1s cubic-bezier(0.66, 0.46, 0.98, 1.53);
}

.unblock:active, .block:active, .vip:active, .novip:active {
    transform: scale(0.95);
}


/* ------------------- Media ------------------- */

@media screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }

    .trait {
        display: none;
    }

    .content-container-div {
        padding: 0px;
    }

    .main-container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        padding: 0;
        border-radius: 0px;
    }

    .sidebar-content {
        flex-direction: row-reverse;
        padding: 20px;
    }

    .content-container {
        padding: 30px;
        margin-top: 50px;
    }

    .header {
        gap: 20px;
    }

    .search-bar {
        width: 100%;
    }

    #search {
        width: 100%;
    }

    .titre-content span:nth-child(1) {
        font-size: 1.5em;
    }

    .titre-content span:nth-child(2) {
        font-size: .8em;
    }

    th, .nom-head {
        font-size: .7em;
    }

    .nom {
        font-size: 12px;
    }

    .unblock, .block {
        font-size: 11px;
        width: 90px;
    }

    .vip, .novip {
        font-size: 11px;
        width: 40px;
    }

    .date {
        font-size: 12px;
    }
}