header{
    background-image: url(../img/destination-header.jpg);
    background-attachment: fixed;
    height: 780px;
    background-position: center;
    background-size: cover;
    top: 0px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 50%, transparent 100%);
}

#head{
    color: #FFFAE7;
    text-align: center;
}

#question-titre{
    font-family: url(../police/Marvel.ttf);
    font-size: 50px;
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#filter{
    background-color: rgba(0, 0, 0, 0.25);
    display: inline;
    text-align: left;
    border: #FFFAE7 inset 1.7px;
    padding: 20px;
    padding-right: 0px;
    border-radius: 40px;
}

input[type=search]::placeholder{
    color: rgb(255,250,231,0.5);
}

.parameter{
    border-right: #FFFAE7 solid 1px;
    all:unset;
    margin-right: 10px;
    margin-left: 30px;
}

#search{
    all:unset;
    border-radius: 40px;
    background-color: #FFFAE7;
    color:#0D0D0D;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 30px;
    margin-right: 5px;
}

#search:hover{
    background-color: #d3d0c5;
    transition: 200ms;
}

section{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.container1{
    display: grid;
    grid-template-areas: 
    "box1 box2"
    "box1 box3";
    grid-template-columns: 1fr 1fr;
}

.box{
    color: #FFFAE7;
    transition: all ease-in-out .3s;
}

.box:hover{
    transform: scale(1.04);
    transition: 200ms;
}

.duration{
    background-color: rgba(0, 0, 0, 0.25);
    font-family: url(../police/Marvel.ttf);
    text-align: center;
    padding: 2px;
    font-size: 13px;
    border-radius: 10px;
    backdrop-filter: blur(30px);
    border: #FFFAE7 inset 1px;
    width: 150px;
    font-family:'Courier New', Courier, monospace;
    margin: 0;
}

#prime{
    background-image: url(../img/destinations/wakanda.jpg);
    background-position: left;
    background-size: cover;
    grid-area: box1;
    margin: 20px;
    margin-right: 10px;
    padding: 20px;
    border-radius: 20px;
    height: 500px;
}

#second{
    background-image: url(../img/destinations/newyork.jpg);
    background-position: left;
    background-size: cover;
    grid-area: box2;
    margin: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 20px;
}

#third{
    background-image: url(../img/destinations/wandar.png);
    background-position: center;
    background-size: cover;
    grid-area: box3;
    margin: 20px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 20px;
    border-radius: 20px;
}

.container2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#fourth{
    background-image: url(../img/destinations/hala.jpg);
    background-position: center;
    background-size: cover;
    width: 40%;
    margin: 10px;
    height: 250px;
    padding: 20px;
    border-radius: 20px;
}

#fifth{
    background-image: url(../img/destinations/xmenMansion.webp);
    background-position: bottom;
    background-size: cover;
    width: 40%;
    height: 250px;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
}

#sixth{
    background-image: url(../img/destinations/TA_LO.webp);
    background-position: center;
    background-size: cover;
    width: 40%;
    height: 250px;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
}

.commentary-container{
    margin-top: 30px;
    display: flex;
    overflow: hidden;
    width: 100%; 
    gap: 50px;
}

.commentary{
    color: #FFFAE7;
    display: grid;
    grid-template-areas: 
    "pdp pseudo "
    "comment comment";
    grid-template-columns: 50px 100%;
}

.pseudo{
    grid-area: pseudo;
    text-align: left;
}

img{
    grid-area: pdp;
    height: 40px;
}

.commentary-text{
    grid-area: comment;
    text-align: justify;
    width: 450px;
}

.FAQ{
    width: 95%;
    display: flex;
    align-items: baseline;
}

.FAQ>.titre{
    font-size: 20px;
    grid-area: title;
    margin: 50px;
}

.FAQ>.corp{
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width:100%;
    color: #FFFAE7;
    text-align: left;
}

.question{
    border-top: #FFFAE7 solid 1px;
    font-weight: bolder;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.question:hover{
    cursor: pointer;
}

.reponse{
    text-align: justify;
    padding-bottom: 10px;
    margin: 0;
    display: none;
    transition: all 0.3s ease;
}

@media screen and (max-width: 800px){

    #question-titre{
        font-size: 30px;
        padding: 40px;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    
    .container1{
        grid-template-areas: 
        "box1"
        "box2"
        "box3";
        grid-template-columns: 1fr;
    }

    #prime{
        height: 200px;
        margin: 10px;
    }

    #second{
        height: 200px;
        margin: 10px;
    }

    #third{
        height: 200px;
        margin: 10px;
    }

    .container2{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #fourth{
        width: 90%;
        height: 200px;
    }

    #fifth{
        width: 90%;
        height: 200px;
    }

    #sixth{
        width: 90%;
        height: 200px;
    }
    
    .FAQ{
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .FAQ>.titre{
        margin: 20px;
    }

    .FAQ>.corp{
        margin: 20px;

    }
}