body{
    overflow: hidden;
    
    background-image: url('../img/Star.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: absolute;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;

    font-family: 'PP Formula', sans-serif;
}


header img{
    width: 123px;
    height: 61px;
    padding: 60px 40px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.con-ins {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
}

.inscription, .connexion {
    display: flex;
    justify-content: center;
}

.inscription a {
    color: var(--couleur-primaire);
    background-color: var(--couleur-accent);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.connexion a {
    color: var(--couleur-accent);
    background-color: var(--couleur-primaire);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.inscription a, .connexion a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 170px;
}


.Sous_titre {
    color: #FFFAE7;
    font-size: 14px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    text-align: center;
    opacity: 0.5;
    height: 22px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.group{
    display: flex;
    flex-direction: column; /* Met le label au-dessus de l’input */
    align-items: flex-start; /* Alignement à gauche */
    width: 100%; /* Prend toute la largeur */
    margin-bottom: 15px; /* Espacement entre chaque champ */

}

.texte_inscription {
    color: var(--couleur-primaire);
    font-weight: 200;
    font-size: 15px;
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    width: 100%;
    max-width: 350px;
    border-radius: 5px;
    border: 1px solid var(--couleur-primaire);
    background-color: black;
    color: white;

    transition: ease-in-out .3s;
}



input:focus {
    outline: none;
    box-shadow: 0 0 10px ; /* Effet lumineux pour un meilleur rendu */

}

.Suivant {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 100%;
    max-width: 300px;
    background-color: var(--couleur-accent);
    color: var(--couleur-primaire);
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 200;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px auto 50px auto;

    transition: ease-in-out .5s;
}

.Suivant:hover {
    background-color: #901A1E;
}