body{    
    background-image: url('../img/Star.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: absolute;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;

    font-family: 'PP Formula', sans-serif;
}


header img{
    width: 123px;
    height: 61px;
    padding: 60px 40px;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.con-ins {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2em 1em;
    gap: 10px;
}

.inscription, .connexion {
    display: flex;
    justify-content: center;
}

.inscription a {
    color: var(--couleur-primaire);
    background-color: var(--couleur-accent);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: inset 0px 5px 4px 0px #0d0d0d7b;
}

.connexion a {
    color: var(--couleur-tertiaire);
    background-color: var(--couleur-primaire);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.inscription a, .connexion a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 130px;
}

.texte_inscription {
    color: var(--couleur-primaire);
    font-weight: 200;
    font-size: .8em;
    text-align: left;
    padding: 0 1em;
}

.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}

.group {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    margin-bottom: 2em;
}

input {
    font-family: PP Formula;
    color: var(--couleur-primaire);
    border: 1px solid var(--couleur-secondaire);
    border-radius: 15px;
    height: 4em;
    background-color: transparent;
    padding-left: 1.5em;
    font-size: .7em;

    transition: ease-in-out .3s;
}

input:focus {
    outline: none;
    border: 1px solid var(--couleur-accent);
    box-shadow: 0px 0px 7px 0px var(--couleur-accent);
}

.suivant {
    background-color: var(--couleur-accent);
    color: var(--couleur-primaire);
    border: none;
    width: fit-content;
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;

    transition: ease-in-out .5s;
}

.suivant:hover {
    background-color: #901A1E;
}