.intro {
    display: none;
    z-index: 101;
    background-color: #F2DBAF;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;

    transition: ease-in-out .5s;
}

.logo-container-intro .logo-intro {
    color: #0D0D0D;
}


.logo-container-intro {
    font-family: 'Marvel', sans-serif;
    display: flex;
    gap: 10px;
    flex-direction: row;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 

    transition: ease-in-out .5s;
}


.logo-gauche-intro {
    display: flex;
    flex-direction: column;
}

.logo-gauche-intro span {
    font-size: 10rem;
}

.logo-intro {
    transition: cubic-bezier(0.86, 0, 0.07, 1) .8s;
}


.mar-intro {
    transform: translateX(-8em);
}

.tra-intro {
    transform: translateX(-8em);
}

.vel-intro {
    font-size: 25rem;
    line-height: 1;

    transform: translateX(5em);
}