@media (max-width: 768px) {
    .footer-top, .footer-bottom {
        flex-direction: column;
    }

    .footer-logo {
        margin-bottom: 4em;
    }

    .footer-right-top {
        justify-content: space-between;
    }

    .footer-bottom {
        flex-direction: column-reverse;
        align-items: center;
        gap: 5em;
    }

    .rouge, .bleu, .vert, .violet, .orange {
        display: none;
    }
}