.paie_container {
    display: flex;
    justify-content: center;
}

.paie {
    font-family: 'PP Formula Bold', sans-serif;
    padding: 15px 25px;
    border-radius: 15px;
    border: none;
    text-align: center;
    width: fit-content;
    color: #0d0d0d;
    background-color: #FFFAE7;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 0 0 0 #fffae777;

    transition: all ease-in-out .2s;
}

.paie:hover {
    background-color: #F2DBAF;
    color: #AF1F24;
    transform: translate(0, -5px);
    box-shadow: 0 5px 10px 0 #fffae777;
}

.paie:active {
    transform: translate(0, 0);
    box-shadow: 0 0 20px 0 #fffae777;
}
