/* ------------------ Logo plus petit ------------------ */

.logo-container {
    padding: 0px;
}

.logo-gauche span {
    font-size: 2.2em;
    color: var(--couleur-primaire);
    transition: ease-out .5s;
}

.vel {
    font-size: 5.5rem;
    color: var(--couleur-primaire);
    transition: ease-out .5s;
}


/* ------------------- PARTIE DROITE ------------------- */

.content-container-div {
    width: 100%;
    padding: 40px 80px;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.top-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titre {
    font-size: 32px;
    color: #FFFAE7;
}

.back-accueil{
    display: flex;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

.back-accueil a {
    font-size: 12px;
    color: #FFFAE7;
}

.back-accueil::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -2px;
    background-color: #FFFAE7;
    transition: width 0.3s ease;
}

.back-accueil:hover::after {
    width: 100%;
}


/* ------------------- CARDS ------------------- */

.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 20px;
    border-radius: 25px;
    background-color: #F2DBAF;
    box-shadow: 0px 4px 30px #f2dbaf77;
    height: fit-content;
}

.header-text {
    display: flex;
    align-items: baseline;
    width: 90%;
    gap: 15px;
}

.titre-card {
    font-size: 20px;
    font-weight: 600;
}


.card-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border-radius: 20px;
    background-color: #FFFAE7;
    box-shadow: 0px 4px 10px #0d0d0d42;
}

.user-info {
    display: flex;
    gap: 15px;
    align-items: center;
}

.user-info img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nom {
    font-size: 14px;
    font-weight: 600;
}

.mail {
    font-size: 13px;
    font-weight: 200;
}

.card-content .trait {
    width: 100%;
    background-color: #0d0d0d42;
}

.modif-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.row-user-info {
    display: flex;
    gap: 15px;
    font-size: 13px;
    width: 270px;
}

.row-user-info span:nth-child(1) {
    color: #0d0d0d9a;
}

.sous-texte {
    font-size: 12px;
    font-weight: 200;
    max-width: 250px;
    text-align: center;
}

.decouvrir-button {
    padding: 10px;
    text-align: center;
    color: #FFFAE7;
    background-color: #0d0d0d;
    border-radius: 10px;
    box-shadow: 0px 4px 10px #0d0d0d42;

    transition: all 0.3s ease-out;
}

.decouvrir-button:hover {
    transform: translate(0px, -5px);
    background-color: #0d0d0d9a;
    box-shadow: 0px 0px 0px #0d0d0d42;
}

.decouvrir-button:active {
    transform: translate(0px, 0px);
    box-shadow: 0px 4px 15px #0d0d0d42;
}


/* ------------------ Media ------------------ */

@media screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }

    .trait {
        display: none;
    }

    .content-container-div {
        padding: 0px;
    }

    .main-container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        padding: 0;
        border-radius: 0px;
    }

    .sidebar-bottom {
        font-size: 12px;
    }

    .sidebar-content {
        flex-direction: row-reverse;
        padding: 20px;
    }

    .content-container {
        padding: 30px;
        margin-top: 50px;
    }

    .top-text {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .card {
        padding: 15px;
        width: fit-content;
    }

    .card-content {
        padding: 20px;
        gap: 15px;
    }


    .row-user-info, .user-info {
        width: 100%;
        font-size: 11px;
    }
}