h1 {
    font-family: 'Marvel';
    text-transform: uppercase;
    font-weight: normal;
    font-size: 85px;
    color: #FFFAE7;
    text-align: center;
}

.texte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(../img/destination-header.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    top: 0px;
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 95%, transparent 100%);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-top: -100px;
}